<section class="container product-products">
   <h5 class="text-center">Shop</h5>

<div class="row mt-5">




     <div class="col-md-4 products mt-sm-2">
      <div class="card ">
        <img src="../../../assets/imagenes/producto1.jpg" class="productos" alt="producto1">

        <p class="my-3 p-1">Facial Cleansing  <span class="mr-2">$56.20</span><span> USD</span></p>
          <div class="d-flex justify-content-between">
            <div class="p-2"><img src="../../../assets/iconos/corazon.svg" class="img-fluid favorites"></div>
            <div class="p-2"><img src="../../../assets/iconos/visibility.svg"></div>
            <div class="p-2"><img src="../../../assets/iconos/shopping-cart.png"></div>
          </div>

        </div>
      </div>
     <div class="col-md-4 products mt-sm-2">
      <div class="card">
        <img src="../../../assets/imagenes/producto10.jpg" class="productos" alt="producto2">
        <p class="my-3">Facial Cleansing  <span class="mr-2">$56.20</span><span> USD</span></p>
        <div class="d-flex justify-content-between">
          <div class="p-2"><img src="../../../assets/iconos/corazon.svg" class="img-fluid favorites"></div>
          <div class="p-2"><img src="../../../assets/iconos/visibility.svg"></div>
          <div class="p-2"><img src="../../../assets/iconos/shopping-cart.png"></div>
        </div>

      </div>
     </div>
     <div class="col-md-4 products mt-sm-2">
      <div class="card">
        <img src="../../../assets/imagenes/producto3.jpg" class="productos" alt="producto3">
        <p class="my-3">Facial Cleansing  <span class="mr-2">$56.20</span><span> USD</span></p>
        <div class="d-flex justify-content-between">
          <div class="p-2"><img src="../../../assets/iconos/corazon.svg" class="img-fluid favorites"></div>
          <div class="p-2"><img src="../../../assets/iconos/visibility.svg"></div>
          <div class="p-2"><img src="../../../assets/iconos/shopping-cart.png"></div>
        </div>

      </div>
     </div>
  </div>


  <div class="row mt-5">
    <div class="col-md-4 products">
      <div class="card ">
        <img src="../../../assets/imagenes/product4.jpg" class="productos" alt="producto4">

        <p class="my-3">Facial Cleansing  <span class="mr-2">$56.20</span><span> USD</span></p>
        <div class="d-flex justify-content-between">
          <div class="p-2"><img src="../../../assets/iconos/corazon.svg" class="img-fluid favorites"></div>
          <div class="p-2"><img src="../../../assets/iconos/visibility.svg"></div>
          <div class="p-2"><img src="../../../assets/iconos/shopping-cart.png"></div>
        </div>

    </div>
    </div>
    <div class="col-md-4 products my-sm-3">
      <div class="card ">
        <img src="../../../assets/imagenes/producto5.jpg" class="productos" alt="producto5">
        <p class="my-3">Facial Cleansing  <span class="mr-2">$56.20</span><span> USD</span></p>
        <div class="d-flex justify-content-between">
          <div class="p-2"><img src="../../../assets/iconos/corazon.svg" class="img-fluid favorites"></div>
          <div class="p-2"><img src="../../../assets/iconos/visibility.svg"></div>
          <div class="p-2"><img src="../../../assets/iconos/shopping-cart.png"></div>
        </div>

      </div>
    </div>
    <div class="col-md-4 products my-sm-3">
      <div class="card ">
        <img src="../../../assets/imagenes/producto6.jpg" class="productos" alt="producto6">
        <p class="my-3">Facial Cleansing  <span class="mr-2">$56.20</span><span> USD</span></p>
        <div class="d-flex justify-content-between">
          <div class="p-2"><img src="../../../assets/iconos/corazon.svg" class="img-fluid favorites"></div>
          <div class="p-2"><img src="../../../assets/iconos/visibility.svg"></div>
          <div class="p-2"><img src="../../../assets/iconos/shopping-cart.png"></div>
        </div>

      </div>
    </div>

 </div>

 <div class="row mt-5">
  <div class="col-md-4 products">
    <div class="card">
      <img src="../../../assets/imagenes/producto10.jpg" class="productos" alt="producto7">
      <p class="my-3 p-1">Facial Cleansing  <span class="mr-2">$56.20</span><span> USD</span></p>
      <div class="d-flex justify-content-between">
        <div class="p-2"><img src="../../../assets/iconos/corazon.svg" class="img-fluid favorites"></div>
        <div class="p-2"><img src="../../../assets/iconos/visibility.svg"></div>
        <div class="p-2"><img src="../../../assets/iconos/shopping-cart.png"></div>
      </div>

    </div>
  </div>
  <div class="col-md-4 products my-sm-3">
    <div class="card">
      <img src="../../../assets/imagenes/producto1.jpg" class="productos" alt="producto1">
      <p class="my-3">Facial Cleansing  <span class="mr-2">$56.20</span><span> USD</span></p>
      <div class="d-flex justify-content-between">
        <div class="p-2"><img src="../../../assets/iconos/corazon.svg" class="img-fluid favorites"></div>
        <div class="p-2"><img src="../../../assets/iconos/visibility.svg"></div>
        <div class="p-2"><img src="../../../assets/iconos/shopping-cart.png"></div>
      </div>

    </div>
  </div>
  <div class="col-md-4 products my-sm-3">
    <div class="card ">
      <img src="../../../assets/imagenes/producto2.jpg" class="productos" alt="producto2">
      <p class="my-3">Facial Cleansing  <span class="mr-2">$56.20</span><span> USD</span></p>
      <div class="d-flex justify-content-between">
        <div class="p-2"><img src="../../../assets/iconos/corazon.svg" class="img-fluid favorites"></div>
        <div class="p-2"><img src="../../../assets/iconos/visibility.svg"></div>
        <div class="p-2"><img src="../../../assets/iconos/shopping-cart.png"></div>
      </div>

    </div>
  </div>
</div>

</section>


