<footer class="container-fluid">

      <div class="row">
        <div class="col-md-3 col-sm-12 offset-sm-0 offset-md-1 mt-3" >
              <ul class="nav flex-column location-footer">
            <li class="nav-item">
              <img class="logo-footer" src="../../../assets/logos/logo.svg" title="logo"/>
            </li>
            <li class="nav-item mt-5">
              <p>Our Location</p>
            </li>
            <li class="nav-item">
              <p>869 General village Apt.645,Moorebury,USA</p>
              <p>24/7 hotline</p>
            </li>
           <li class="nav-item">
              <p>(+99)052 128 2399</p>
            </li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-12 offset-sm-0 offset-md-1 mt-3">
          <ul class="nav flex-column news-footer">
            <li class="nav-item title-news">
              <p class="text-center">News later</p>
            </li>
            <li class="nav-item mt-2">
              <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
                <button  type="button" class="btn btn-susbcribe mt-2">Subscribe</button>

              </div>
            </li>

          </ul>
        </div>
        <div class="col-md-3 col-sm-12 offset-sm-0 offset-md-1">
          <ul class="nav flex-column mapsite-footer mt-3 text-lg-center text-sm-left">
            <li class="nav-item">
              <p class="title-mapsite">Map site</p>
            </li>
            <li class="nav-item mt-2">
              <a  class="nav-link"href="">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Skin</a>
            </li>
           <li class="nav-item">
              <a class="nav-link" href="">Face</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Body</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Hair</a>
            </li>

          </ul>
        </div>
      </div>
<div class="row">
  <hr>

  <ul class="nav justify-content-center">

    <li class="nav-item m-2">
      <img class="nav-logos" src="../../../assets/logos/paypal.svg"/>
    </li>
    <li class="nav-item m-2">
      <img class="nav-logos" src="../../../assets/logos/visa.svg"/>
    </li>
    <li class="nav-item m-2">
      <img class="nav-logos" src="../../../assets/logos/stripe.svg"/>
    </li>

  </ul>
</div>



</footer>
